#
# Shorewall version 4 - Policy File
#
# For information about entries in this file, type "man shorewall-policy"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-policy.html
#
###############################################################################
#SOURCE	DEST	POLICY		LOG		LIMIT:		CONNLIMIT:
#							LEVEL	BURST		MASK
loc		all		ACCEPT
$FW		all		ACCEPT

# Policies for traffic originating from the Internet zone (net)

net		all		DROP

# THE FOLLOWING POLICY MUST BE LAST
all		all		REJECT
